---
layout: default

---
{% include header.html %}
{% include navbar.html %}
<div class="container">
  <ul class='breadcrumb'>
    <li>
      <a href='#'> Resource Center Home</a>
      <span class='divider'>/</span>
    </li>
    <li>
      <a href='#'> Become an Expert</a>
      <span class='divider'>/</span>
    </li>
  </ul>
</div>

<div class="container">
  <h2 class="section-header">Guest Management</h2>
  <div class="row-fluid">

    <div class="span3"?>
      {% include side-nav.html %}
    </div>

    <div class="span9">
      {% include thumbnails/normal-three-wide.html %}
      {% include thumbnails/normal-three-wide.html %}
      {% include thumbnails/normal-three-wide.html %}
      {% include thumbnails/normal-three-wide.html %}
      {% include thumbnails/normal-three-wide.html %}
    </div>
  </div>
</div>
