#sub-nav
  .navbar.navbar-inverse.navbar-static-top
    .navbar-inner
      ul.nav
        li
          a(href="/L2-become-an-expert") #[i.icon-user] Become An Expert
        li
          a(href="#") #[i.icon-dog] Get Inspired
        li
          a(href="#") #[i.icon-calculator] News & Events
        li
          a(href="#") #[i.icon-washer] Blog
