.container
  .section-header
    h3 Suggested For You
  each i in [1, 2, 3]
    .row-fluid
      each i in [1, 2, 3]
        .span4
          img.img-responsive(src='http://placebear.com/374/183')
          h4 Webinar: How to figure out taxes
          p Adipiscing dolore ingenium quibus ut foras singularis pala tum valde wui prasent. Consectature a secumdum ulciscor ut laoreet lucidus epulae facilisi laoreet.
          a(href="#") Watch This Webinar

