.navbar {
  height: $header-height;

  .navbar-header {
    height: $header-height;

    .navbar-brand {
      height: 100%;

      img {
        height: 100%;
      }
    }

    span {
      font-size: 2rem;
      line-height: $header-height;
    }
  }
  .navbar-collapse {
    position: relative;

    form {
      align-items: center;
      display: flex;
      height: $header-height;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    .navbar-right {
      align-items: center;
      display: flex;
      height: $header-height;

      .flag {
        img {
          height: 2.2rem;
          margin-right: 1.4rem;
        }
      }
      .welcome-user {
        .welcome-text {
          float: left;
          text-align: right;
        }
      }

      .birdhouse {
        img {
          width: 5rem;
        }
      }
    }
  }
}

