#navbar {
  margin-bottom: 2.5rem;

  .nav {
    align-items: center;
    display: flex;
    height: 5rem;
    justify-content: center;
    width: 100%;

    li {
      margin: 0;

      position: relative;

      &:not(:last-of-type) {
        &:after {
          border-right: 1px solid $white;
          content: '';
          height: 40%;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      a {
        align-items: center;
        display: flex;
        padding: 1rem 1.5rem;
      }
    }

    a {
      // color: $white;
      // font-size: 1.6rem;

      // i {
      //   color: #d6d2d3;
      //   font-size: 3.2rem;
      //   margin-right: 0.8rem;
      // }

      // &:hover {
      //   i {
      //     color: white;
      //   }
      // }
    }
  }
}
