
.navbar-collapse {
  position: relative;


  form {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .navbar-right {
    align-items: center;
    display: flex;

    .flag {
      img {
        height: 2.2rem;
        margin-right: 1.4rem;
      }
    }
    .welcome-user {
      .welcome-text {
        float: left;
        text-align: right;
      }
    }
  
    .birdhouse {
      img {
        width: 5rem;
      }
    }
  }
}
