.content-section {
  padding: 2.5rem 0;
  &:nth-child(odd) {
    background: transparentize($lighter-blue, 0.85);
  }

  .section-header {
    h2 {
      color: $blue;
    }
  }

  h3 {
    font-size: 2rem;
    line-height: 2.3rem;
  }

  .thumb-link {
    position: relative;
    &::after {
      content: '»';
      position: absolute;
      right: -1.5rem;
    }
  }

  .view-more {
    padding: 3.3rem;

    a {
      position: relative;

      i {
        font-size: 1.8rem;
        margin-left: 1rem;
      }
    }
  }

  .news-and-blog-wrapper {
    margin-bottom: 1.5rem;
  }
  .news-section,
  .blog-section {
    .row {
      margin-bottom: 2rem;
    }

    .date,
    h3 {
        color: $blue;
    }
  }
}
