.content-section {
  &:nth-child(even) {
    background: map-get($shades-of-grey, 'medium');
  }
  section {
    padding-top: 2.5rem;

    .row-fluid {
      margin-bottom: 2.3rem;
    }

    h2 {
      color: $blue;
    }

    h3 {
      font-size: 2rem;
      line-height: 2.3rem;
    }

    .thumb-link {
      position: relative;
      &::after {
        content: '»';
        position: absolute;
        right: -1.5rem;
      }
    }
  }

  .view-more {
    padding: 3.3rem;

    a {
      position: relative;

      i {
        font-size: 1.8rem;
        margin-left: 1rem;
      }
    }
  }

  &.news-section {

    .news-thumbnail {
      .date {
        color: $blue;
      }
    }

    h3 {
      color: $blue;
    }
  }
}
