---
layout: default

---
{% include header.html %}
{% include navbar.html %}
<div class="container">
  <ul class='breadcrumb'>
    <li>
      <a href='#'> Resource Center Home</a>
      <span class='divider'>/</span>
    </li>
    <li>
      <a href='#'> Become an Expert</a>
      <span class='divider'>/</span>
    </li>
  </ul>
</div>

{% capture thumbnail-container-classes %}col-md-4{% endcapture %}
{% capture image-src %}http://fillmurray.com/284/175{% endcapture %}
{% capture img-type %}{% endcapture %}
{% capture title %}Tutorial: Rates how to{% endcapture %}
{% capture body %}Pala tum valde qui praesent. Consectetuer a secundum ulciscor.{% endcapture %}
{% capture link-text %}Read More{% endcapture %}
{% capture link-href %}#{% endcapture %}

<div class="container">
  <h2 class="section-header">Guest Management</h2>
  <div class="row">

    <div class="col-md-3">
      {% include side-nav.html %}
    </div>
    <div class="col-md-9">
      {% for i in (1..3) %}
        <div class="thumbnail-row row">
          {% for n in (1..3) %}
            {% include thumbnails/thumbnail-standard.html %}
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
