---
layout: default

---
{% include header.html %}
{% include navbar.html %}

<div class="container">
  <ul class='breadcrumb'>
    <li>
      <a href='#'> Resource Center Home</a>
      <span class='divider'>/</span>
    </li>
  </ul>

  <div class='section-header'>
    <h2>Guest Management</h2>
  </div>
</div>

<div class='featured-boxes text-center'>
  <div class='featured-box bg-brand'>
    <div class='inner-box'>
      <div class='row-fluid title'>
        <a href="#">
          <i class='icon-home icon-white'></i>
          <h4>Rental Basics</h4>
        </a>
      </div>
      <div class='row-fluid'>
        <p>Verto lenis vicis adsum plaga ad. Et lobortis letatio illum virtus augue at duis exerci.</p>
      </div>
    </div>
  </div>

  <div class='featured-box bg-brand'>
    <div class='inner-box'>
      <div class='row-fluid title'>
        <a href='/L2-tips-and-resources/L3'>
          <i class='icon-usergroup icon-white'></i>
          <h4>Guest Management</h4>
        </a>
      </div>
      <div class='row-fluid'>
        <p>Verto lenis vicis adsum plaga ad. Et lobortis letatio illum virtus augue at duis exerci.</p>
      </div>
    </div>
  </div>

  <div class='featured-box bg-brand'>
    <div class='inner-box'>
      <div class='row-fluid title'>
        <a href="#">
          <i class='icon-banknote icon-white'></i>
          <h4>Improve My Performance</h4>
        </a>
      </div>
      <div class='row-fluid'>
        <p>Verto lenis vicis adsum plaga ad. Et lobortis letatio illum virtus augue at duis exerci.</p>
      </div>
    </div>
  </div>
</div>

<section class="excerpt-section rental-basics-section">
  {% capture section-title %}Suggested for you: <strong>Rental Basics</strong>{% endcapture %}
  {% include thumbnails/big-left.html %}
</section>

<section class="excerpt-section guest-management-section">
  {% capture section-title %}Suggested for you: <strong>Guest Management</strong>{% endcapture %}
  {% include thumbnails/cinema-three-wide.html %}
</section>

<section class="excerpt-section improve-my-performance-section">
  {% capture section-title %}Suggested for you: <strong>Improve my performance</strong>{% endcapture %}
  {% include thumbnails/big-right.html %}
</section>

