<div class="container">
  <div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <i class="icon-alert"></i>
    <div class="text-wrapper">
      <p><strong>This Happened </strong>- Learn more about how to deal with this special alert you are viewing to handle it.</p>
      <a class="text-warning">How to handle this</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="alert img-alert clearfix">
      <button type="button" class="close" data-dismiss="alert">x</button>
      <img class="pull-left" src="http://fillmurray.com/190/91">
      <div class="text-wrapper">
        <p><strong>This Happened </strong>- Learn more about how to deal with this special alert you are viewing to handle it.</p>
        <a class="text-warning">How to handle this</a>
      </div>
  </div>
</div>
