
<div class="content-section news-section">
  <section class="container">
    <div class="row-fluid">
      <div class="section-header">
        <h2>Most Popular</h2>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span4">
        <h3>Handling Reservation Requests</h3>
        <p>Today's traveler wants to be able to book vacation rental properties online, just as...</p>
      </div>
      <div class="span4">
        <h3>Payment Methods</h3>
        <p>Travelers come to our sites expecting to book their vacation rental the same way...</p>
      </div>
      <div class="span4">
        <h3>Cancellations and Refunds</h3>
        <p>We have provided three options for you to use when refunding a payment made on...</p>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span4">
        <h3>Reviews</h3>
        <p>Reviews matter to travelers and will help you gain trust and credibility. As a...</p>
      </div>
      <div class="span4">
        <h3>Calendar</h3>
        <p>Any future reservations you add or remove from the calendar on our site display on...</p>
      </div>
      <div class="span4">
        <h3>What is the service fee?</h3>
        <p>The service fee is paid by the traveler when booking through the HomeAway websites...</p>
      </div>
    </div>
    <div class="row-fluid text-center view-more"><a class="text-warning" href="#">View more inspiration<i class="icon-chevron-down"></i></a></div>
  </section>
</div>