
<div class="content-section">
  <section class="container">
    <div class="section-header">
      <h2>Get Inspired</h2>
    </div>
    <div class="row-fluid">
      <div class="thumbnail-container label-left-md"><img src="http://placebear.com/368/322"/>
        <div class="thumbnail-label">
          <h3>Get inspired by Hunter McDaniel</h3>
          <p>Hunter owns a beautiful home in Miami Florida. Learn from his latest experience of renting out his home. </p>
        </div>
      </div>
      <div class="thumbnail-container label-bottom-sm"><img src="http://placebear.com/284/174"/><i class="icon-question"></i>
        <div class="thumbnail-label">
          <h3>Rent With Ease</h3>
          <p>Learn the best techniques to rent with the least amount of issues and pain points to become profitable!</p><a class="thumb-link" href="#">Watch This Video</a>
        </div>
      </div>
      <div class="thumbnail-container label-bottom-sm"><img class="video-thumb" src="http://placebear.com/284/174"/><i class="icon-question"></i>
        <div class="thumbnail-label">
          <h3>Rent With Ease</h3>
          <p>Learn the best techniques to rent with the least amount of issues and pain points to become profitable!</p><a class="thumb-link" href="#">Watch This Video</a>
        </div>
      </div>
    </div>
    <div class="row-fluid text-center view-more"><a class="text-warning" href="#">View more inspiration<i class="icon-chevron-down"></i></a></div>
  </section>
</div>