
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display-->
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="assets/images/logo-blue.svg"/></a>
      <span>Learning Hub</span>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling-->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Search"/>
        </div>
        <button class="btn btn-default" type="submit">Submit</button>
      </form>

      <ul class="nav navbar-nav navbar-right">
        <li class="flag">
          <img src="/assets/images/US.png"/>
        </li>

        <li class="welcome-user">
          <div class="welcome-text">
            <p>Welcome back <strong>Rose Stewart</strong></p>
            <div class="dropdown">
              <a class="dropdown-toggle" ,="," data-toggle="dropdown" href="">Home Owner<b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation">
                  <a href="#" role="menuitem">Action</a>
                </li>
                <li>
                  <a href="#">Another Action</a>
                </li>
              </ul>
            </div>
          </div>
          <img class="img-circle" src="http://fillmurray.com/45/45"/>
        </li>

        <li class="birdhouse">
          <a href="#">
            <img src="/assets/images/birdhouse-blue.svg"/>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
