<nav id="navbar" class="panel panel-dashboard text-center">
    <ul class="nav nav-underline nav-underline-inverse" role="tablist">
      <li role="presentation"><a href="/L2-tips-and-resources"><i class="icon-user icon-lg"></i> Tips & Resources</a></li>
      <li role="presentation"><a href="#"><i class="icon-dog icon-lg"></i> Get Inspired</a></li>
      <li role="presentation"><a href="#"><i class="icon-calculator icon-lg"></i> News & Events</a></li>
      <li role="presentation"><a href="#"><i class="icon-washer icon-lg"></i> Blog</a></li>
    </ul>
</nav>
