
<div id="navbarTop">
  <div class="navbar navbar-static-top">
    <div class="navbar-inner row-fluid"><a class="brand span4" href="#"><img src="/assets/images/logo-blue.svg"/> &nbsp Learning Hub</a>
      <form class="input-append span3">
        <input class="span12" type="text"/>
        <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
      </form>
      <div class="nav-right span5">
        <ul class="nav">
          <li class="flag"><img src="/assets/images/US.png"/></li>
          <li class="welcome-user">
            <div class="welcome-text">
              <p>Welcome back <strong>Rose Stewart</strong></p>
              <div class="dropdown"><a class="dropdown-toggle" ,="," data-toggle="dropdown" href="">Home Owner<b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu">
                  <li role="presentation"><a href="#" role="menuitem">Action</a></li>
                  <li><a href="#">Another Action</a></li>
                </ul>
              </div>
            </div><img class="img-circle" src="http://placehold.it/45x45"/>
          </li>
          <li class="birdhouse"><a href="#"><img src="/assets/images/birdhouse-blue.svg"/></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>