<nav id="navbar" class="panel panel-dashboard text-center">
    <ul class="nav nav-underline nav-underline-inverse" role="tablist">
      <li role="presentation"><a href="/L2-become-an-expert"><i class="icon-user"></i> Become An Expert</a></li>
      <li role="presentation"><a href="#"><i class="icon-dog"></i> Get Inspired</a></li>
      <li role="presentation"><a href="#"><i class="icon-calculator"></i> News & Events</a></li>
      <li role="presentation"><a href="#"><i class="icon-washer"></i> Blog</a></li>
    </ul>
</nav>
