<div class="panel-group side-nav" id="accordion" role="tablist" aria-multiselectable="true">
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="headingOne">
			<h4 class="panel-title">
				<a class="" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
				<strong>Before Guests Arrive</strong>
					<i class="icon-chevron-down" aria-hidden="true"></i>
				</a>
			</h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
			<div class="">
				<ul>
					<li><a href="#" class="active">Checklist for new Renters</a></li>
					<li><a href="/L2-tips-and-resources/L4">Preparing for Arrivals</a></li>
					<li><a href="#" class="active">Cleaning Checklists</a></li>
					<li><a href="#" class="active">Wowing Guests</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="headingTwo">
			<h4 class="panel-title">
				<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					<strong>Property Ready</strong>
					<i class="icon-chevron-down" aria-hidden="true"></i>
				</a>
			</h4>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
			<div class="">
				<ul>
					<li><a href="#" class="active">Checklist for new Renters</a></li>
					<li><a href="#">Preparing for Arrivals</a></li>
					<li><a href="#" class="active">Cleaning Checklists</a></li>
					<li><a href="#" class="active">Wowing Guests</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="headingThree">
			<h4 class="panel-title">
				<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					<strong>Rental Experience Support</strong>
					<i class="icon-chevron-down" aria-hidden="true"></i>
				</a>
			</h4>
		</div>
		<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			<div class="">
				<ul>
					<li><a href="#" class="active">Checklist for new Renters</a></li>
					<li><a href="#" class="active">Preparing for Arrivals</a></li>
					<li><a href="#" class="active">Cleaning Checklists</a></li>
					<li><a href="#" class="active">Wowing Guests</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="headingFour">
			<h4 class="panel-title">
				<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
					<strong>Post Stay</strong>
					<i class="icon-chevron-down" aria-hidden="true"></i>
				</a>
			</h4>
		</div>
		<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
			<div class="">
				<ul>
					<li><a href="#" class="active">Checklist for new Renters</a></li>
					<li><a href="#" class="active">Preparing for Arrivals</a></li>
					<li><a href="#" class="active">Cleaning Checklists</a></li>
					<li><a href="#" class="active">Wowing Guests</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

