
<div class="container">
  <div class="section-header">
    <h3>Suggested For You</h3>
  </div>
  <div class="row-fluid">
    <div class="span4 thumbnail-container"><img class="img-responsive" src="http://placebear.com/374/183"/>
      <h4>Webinar: How to figure out taxes</h4>
      <p>Adipiscing dolore ingenium quibus ut foras singularis pala tum valde wui prasent. Consectature a secumdum ulciscor ut laoreet lucidus epulae facilisi laoreet.</p><a href="#">Watch This Webinar</a>
    </div>
    <div class="span4 thumbnail-container"><img class="img-responsive" src="http://placebear.com/374/183"/>
      <h4>Webinar: How to figure out taxes</h4>
      <p>Adipiscing dolore ingenium quibus ut foras singularis pala tum valde wui prasent. Consectature a secumdum ulciscor ut laoreet lucidus epulae facilisi laoreet.</p><a href="#">Watch This Webinar</a>
    </div>
    <div class="span4 thumbnail-container"><img class="img-responsive" src="http://placebear.com/374/183"/>
      <h4>Webinar: How to figure out taxes</h4>
      <p>Adipiscing dolore ingenium quibus ut foras singularis pala tum valde wui prasent. Consectature a secumdum ulciscor ut laoreet lucidus epulae facilisi laoreet.</p><a href="#">Watch This Webinar</a>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4 thumbnail-container"><img class="img-responsive" src="http://placebear.com/374/183"/>
      <h4>Webinar: How to figure out taxes</h4>
      <p>Adipiscing dolore ingenium quibus ut foras singularis pala tum valde wui prasent. Consectature a secumdum ulciscor ut laoreet lucidus epulae facilisi laoreet.</p><a href="#">Watch This Webinar</a>
    </div>
    <div class="span4 thumbnail-container"><img class="img-responsive" src="http://placebear.com/374/183"/>
      <h4>Webinar: How to figure out taxes</h4>
      <p>Adipiscing dolore ingenium quibus ut foras singularis pala tum valde wui prasent. Consectature a secumdum ulciscor ut laoreet lucidus epulae facilisi laoreet.</p><a href="#">Watch This Webinar</a>
    </div>
    <div class="span4 thumbnail-container"><img class="img-responsive" src="http://placebear.com/374/183"/>
      <h4>Webinar: How to figure out taxes</h4>
      <p>Adipiscing dolore ingenium quibus ut foras singularis pala tum valde wui prasent. Consectature a secumdum ulciscor ut laoreet lucidus epulae facilisi laoreet.</p><a href="#">Watch This Webinar</a>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4 thumbnail-container"><img class="img-responsive" src="http://placebear.com/374/183"/>
      <h4>Webinar: How to figure out taxes</h4>
      <p>Adipiscing dolore ingenium quibus ut foras singularis pala tum valde wui prasent. Consectature a secumdum ulciscor ut laoreet lucidus epulae facilisi laoreet.</p><a href="#">Watch This Webinar</a>
    </div>
    <div class="span4 thumbnail-container"><img class="img-responsive" src="http://placebear.com/374/183"/>
      <h4>Webinar: How to figure out taxes</h4>
      <p>Adipiscing dolore ingenium quibus ut foras singularis pala tum valde wui prasent. Consectature a secumdum ulciscor ut laoreet lucidus epulae facilisi laoreet.</p><a href="#">Watch This Webinar</a>
    </div>
    <div class="span4 thumbnail-container"><img class="img-responsive" src="http://placebear.com/374/183"/>
      <h4>Webinar: How to figure out taxes</h4>
      <p>Adipiscing dolore ingenium quibus ut foras singularis pala tum valde wui prasent. Consectature a secumdum ulciscor ut laoreet lucidus epulae facilisi laoreet.</p><a href="#">Watch This Webinar</a>
    </div>
  </div>
</div>