:root {
  background-color: map-get($shades-of-grey, 'xtra-light');
  box-sizing: border-box;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: map-get($shades-of-grey, 'xtra-light');
  margin: 0;
}

.section-header {
  border-bottom: 1px solid transparentize(gray, 0.7);
  margin-bottom: 2rem;

  h3 {
    font-size: 2.4rem;
  }
}

.thumbnail-container {
  &.label-left-md {
    img {
      float: right;
    }
  }
}

#footer {
  background-color: $blackish;
  height: 50rem;
  margin-top: 8rem;
  width: 100%;
}
