.thumbnail-row {
  &.background-blue {
    .thumbnail-container {
      .thumbnail-label {
        background-color: $blue;
        padding: 1rem 1.5rem;

        h3,
        p,
        a {
          color: $white;
        }
      }
    }
  }
}

.thumbnail-container {
  display: flex;
  height: 32rem;

  .thumbnail-image {
    background-repeat: no-repeat;
    background-size: cover;

    &.video {
      position: relative;

      &::after {
        background-image: url('http://fillmurray.com/50/50');
        border-radius: 50%;
        content: '';
        height: 4rem;
        position: absolute;
        right: 1rem;
        top: 1rem;
        width: 4rem;
      }
    }
  }

  &.label-left {
    .thumbnail-label {
      background-color: map-get($shades-of-grey, 'medium');
    }
  }

  .thumbnail-label {
    height: 100%;
    padding-top: 1.5rem;

    h3 {
      color: $blue;
      font-weight: 900;
    }

    .thumbnail-link {
      position: relative;

      &::after {
        content: ''
      }
    }
  }
}

.thumbnail-standard {
  flex-direction: column;

  .thumbnail-image {
    height: 17.5rem;
    width: 100%;
  }
}

.label-left {
  .thumbnail-label {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 40%;
  }
  .thumbnail-image {
    height: 100%;
    width: 60%;
  }
}
