.thumbnail-container {
  display: flex !important;
  flex-direction: column;
  height: 34rem;
  margin-left: 1.5641%;

  // &.background- {
  //   &blue {
  //     .thumbnail-label {
  //       background-color: $blue;
  //       color: $white;

  //       a {
  //         color: $white;
  //       }
  //     }
  //   }

  //   &grey {
  //     .thumbnail-label {
  //       background-color: map-get($shades-of-grey, 'light');
  //       color: $black;

  //       a {
  //         color: $orange;
  //       }
  //     }
  //   }

  //   &hollow {
  //     .thumbnail-label {
  //       background-color: transparent;
  //       color: $black;

  //       .subtitle {
  //         color: $blue;
  //       }

  //       a {
  //         color: $orange;
  //       }
  //     }
  //   }
  // }

  &.label-left {
    flex-direction: row;

    .thumbnail-label {
      float: left;
      height: 100%;
      padding-right: 1.5rem;
      width: 35%;

      p {
        flex: 0 1 auto;
      }
    }

    .thumbnail-image {
      float: left;
      height: 100%;
      overflow: hidden;
      width: 65%;

      img {
        height: 100%;
      }
    }
  }

  &.video {


    .thumbnail-image {
      position: relative;

      &::after {
        color: $white;
        content: "\e617";
        display: inline-block;
        font-family: 'Symbolicons';
        font-size: 4.2rem;
        position: absolute;
        right: 1.5rem;
        top: 2rem;
      }
    }
  }

  &.cinema-style {
    .thumbnail-label {
      h3 {
        // color: $blue;
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 0;
      }

      .subtitle {
        // color: $blue;
      }

      p {
        font-size: 1.7rem;
        font-weight: 100;
        margin-top: 0.5rem;
      }
    }
  }

  .thumbnail-label {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 1.5rem 0;
  }

  h3 {
    text-shadow: none;
  }

  p {
    flex: 1 1 auto;
  }

  a {

    &::after {
      content: '»';
      position: relative;
      left: 0.5rem;
    }
  }
}
