// =============================================================================
// Colors
// =============================================================================
//
$shades-of-grey: (
  'light':      #F5F5F5
);

$blue: #296DB8;
$white: #fff;
