// =============================================================================
// Colors
// =============================================================================
//
$shades-of-grey: (
  'xtra-light': #fcfaf8,
  'light':      #F5F5F5,
  'medium':     #f0eeec
);

$blue: #296DB8;
$orange: #ffa500;
$white: #fff;
