@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
:root {
  background-color: #fcfaf8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 10px; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  background-color: #fcfaf8;
  margin: 0; }

.section-header {
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  margin-bottom: 2rem; }
  .section-header h2 {
    color: #296DB8; }
  .section-header h3 {
    color: #296DB8;
    font-size: 2.4rem; }

.thumbnail-container.label-left-md img {
  float: right; }

.featured-boxes {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4.5rem;
  margin-top: 2rem; }
  .featured-boxes .featured-box {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background: #296DB8;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    float: left;
    height: 20rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 1rem;
    padding: 0 3rem; }
    .featured-boxes .featured-box:first-of-type {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
          -ms-flex: 1 1 auto;
              flex: 1 1 auto; }
      .featured-boxes .featured-box:first-of-type .inner-box {
        -webkit-align-self: flex-end;
            -ms-flex-item-align: end;
                align-self: flex-end;
        float: right;
        text-align: center; }
    .featured-boxes .featured-box:last-of-type {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
          -ms-flex: 1 1 auto;
              flex: 1 1 auto;
      margin-right: 0; }
    .featured-boxes .featured-box .inner-box {
      -webkit-align-self: flex-start;
          -ms-flex-item-align: start;
              align-self: flex-start;
      max-width: 30rem; }
      .featured-boxes .featured-box .inner-box .title::after {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        content: '';
        left: 0.8rem;
        margin: 0 auto;
        margin-bottom: 1.5rem;
        margin-top: 0.8rem;
        position: relative;
        width: 90%; }
      .featured-boxes .featured-box .inner-box i {
        font-size: 4.5rem;
        height: 4.5rem;
        line-height: 4.5rem;
        width: 4.5rem; }
      .featured-boxes .featured-box .inner-box h4 {
        color: #fff;
        display: inline;
        line-height: 4.5rem;
        margin: 0;
        position: relative;
        vertical-align: top; }
        .featured-boxes .featured-box .inner-box h4::after {
          color: #ffa500;
          content: '»';
          font-size: 2rem;
          font-weight: 100;
          padding-left: 0.5rem;
          position: absolute; }
      .featured-boxes .featured-box .inner-box p {
        color: #fff; }

.thumbnail-container {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 32rem;
  margin-left: 1.5641%; }
  .thumbnail-container.background-blue .thumbnail-label {
    background-color: #296DB8;
    color: #fff; }
    .thumbnail-container.background-blue .thumbnail-label a {
      color: #fff; }
  .thumbnail-container.background-hollow .thumbnail-label {
    background-color: transparent;
    color: black; }
    .thumbnail-container.background-hollow .thumbnail-label a {
      color: #ffa500; }
  .thumbnail-container.label-left {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
    .thumbnail-container.label-left .thumbnail-label {
      float: left;
      height: 100%;
      width: 35%; }
      .thumbnail-container.label-left .thumbnail-label p {
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 auto;
            -ms-flex: 0 1 auto;
                flex: 0 1 auto; }
    .thumbnail-container.label-left .thumbnail-image {
      float: left;
      height: 100%;
      overflow: hidden;
      width: 65%; }
      .thumbnail-container.label-left .thumbnail-image img {
        width: 100%; }
  .thumbnail-container.video {
    position: relative; }
    .thumbnail-container.video .thumbnail-image::after {
      color: #fff;
      content: "\e617";
      display: inline-block;
      font-family: 'Symbolicons';
      font-size: 4.2rem;
      line-height: 1;
      position: absolute;
      right: 1.5rem;
      speak: none;
      text-decoration: none;
      text-rendering: optimizeLegibility;
      text-transform: none;
      top: 1.5rem;
      vertical-align: text-top;
      white-space: nowrap; }
  .thumbnail-container .thumbnail-label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 1.5rem; }
  .thumbnail-container h3 {
    text-shadow: none; }
  .thumbnail-container p {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
  .thumbnail-container a::after {
    content: '»';
    position: relative;
    left: 0.5rem; }

#navbarTop .navbar-inner {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fcfaf8;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 8rem; }

#navbarTop .brand {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 4rem;
  white-space: nowrap; }
  #navbarTop .brand img {
    height: 4rem; }

#navbarTop form {
  margin-bottom: 0; }
  #navbarTop form i {
    color: white; }

#navbarTop .nav-right {
  text-align: right; }
  #navbarTop .nav-right .nav {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%; }
    #navbarTop .nav-right .nav .flag img {
      height: 2.2rem;
      margin-right: 1.4rem; }
    #navbarTop .nav-right .nav .welcome-user {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      #navbarTop .nav-right .nav .welcome-user img {
        margin-left: 1rem; }
      #navbarTop .nav-right .nav .welcome-user p {
        margin-bottom: 0;
        margin-right: 1rem;
        white-space: nowrap; }
    #navbarTop .nav-right .nav .birdhouse {
      margin-left: 1.3rem; }
      #navbarTop .nav-right .nav .birdhouse img {
        height: 4.5rem;
        width: 4.5rem; }

.bs-callout {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.1rem solid lightgray;
  border-left-width: 0.5rem;
  -webkit-border-radius: 0.3rem;
          border-radius: 0.3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2.5rem;
  padding: 1.5rem 1.5rem 1.5rem 2.5rem;
  position: relative; }
  .bs-callout .glyphicon-warning-sign {
    font-size: 3rem;
    margin-right: 2rem; }
  .bs-callout .icon-close {
    cursor: pointer;
    position: absolute;
    right: 1.5rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .bs-callout h4 {
    margin-bottom: 0.5rem;
    margin-top: 0; }
  .bs-callout p {
    margin-bottom: 0; }
  .bs-callout code {
    -webkit-border-radius: 0.3rem;
            border-radius: 0.3rem; }

.bs-callout-default {
  border-left-color: #777; }
  .bs-callout-default span {
    color: #777; }

.bs-callout-primary {
  border-left-color: #428bca; }

.bs-callout-primary span {
  color: #428bca; }

.bs-callout-success {
  border-left-color: #5cb85c; }

.bs-callout-success span {
  color: #5cb85c; }

.bs-callout-danger {
  border-left-color: #d9534f; }

.bs-callout-danger span {
  color: #d9534f; }

.bs-callout-warning {
  border-left-color: #f0ad4e; }

.bs-callout-warning span {
  color: #f0ad4e; }

.bs-callout-info {
  border-left-color: #5bc0de; }

.bs-callout-info span {
  color: #5bc0de; }

#carouselSection {
  margin-top: 2.5rem; }
  #carouselSection img {
    width: 100%; }

#sub-nav {
  margin-bottom: 2.5rem; }
  #sub-nav .nav {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 5rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%; }
    #sub-nav .nav a {
      font-size: 1.6rem; }
      #sub-nav .nav a i {
        color: #d6d2d3;
        font-size: 3.2rem;
        margin-right: 0.8rem; }
      #sub-nav .nav a:hover i {
        color: white; }

.content-section {
  padding-top: 2.5rem; }
  .content-section:nth-child(even) {
    background: #f0eeec; }
  .content-section .row-fluid {
    margin-bottom: 2.3rem; }
  .content-section h3 {
    font-size: 2rem;
    line-height: 2.3rem; }
  .content-section .thumb-link {
    position: relative; }
    .content-section .thumb-link::after {
      content: '»';
      position: absolute;
      right: -1.5rem; }
  .content-section .view-more {
    padding: 3.3rem; }
    .content-section .view-more a {
      position: relative; }
      .content-section .view-more a i {
        font-size: 1.8rem;
        margin-left: 1rem; }
  .content-section.news-section .news-thumbnail .date {
    color: #296DB8; }
  .content-section.news-section h3 {
    color: #296DB8; }

.help-center {
  margin-bottom: 5rem; }
  .help-center .help-banner {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url("http://placebear.com/885/186");
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 18.6rem; }
    .help-center .help-banner i {
      font-size: 7rem;
      height: 7rem;
      line-height: 7rem;
      width: 7rem; }
    .help-center .help-banner h2
, .help-center .help-banner h4 {
      color: #fff;
      font-weight: 100; }
