
section.container.content-section
  .section-header
    h2 Get Inspired

  .row-fluid.thumbnail-row
    .span6.thumbnail-container.label-left.background-blue
      .thumbnail-label
        h3 Get inspired by Hunter McDaniel
        p Hunter owns a beautiful home in Miami Florida. Learn from his latest experience of renting out his home.
        a(href='#') Get Inspired
      .thumbnail-image
        img(src="http://placebear.com/299/320")

    .span3.thumbnail-container.background-blue.video
      .thumbnail-image
        img(src="http://placebear.com/284/174")
      .thumbnail-label
        h3 Rent With Ease
        p Learn the best techniques to rent with the least amount of issues and pain points to become profitable!
        a(href="#") Watch This Video

    .span3.thumbnail-container.background-hollow.video
      .thumbnail-image
        img.video-thumb(src="http://placebear.com/284/174")
      .thumbnail-label
        h3 Rent With Ease
        p Learn the issues and pain points to become profitable!
        a(href="#") Watch This Video
