
section.container.content-section
  .section-header
    h2 Get Inspired

  .row-fluid
    .thumbnail-container.label-left-md
      img(src="http://placebear.com/368/322")
      .thumbnail-label
        h3 Get inspired by Hunter McDaniel
        p Hunter owns a beautiful home in Miami Florida. Learn from his latest experience of renting out his home. 

    .thumbnail-container.label-bottom-sm
      img(src="http://placebear.com/284/174")
      i.icon-question
      .thumbnail-label
        h3 Rent With Ease
        p Learn the best techniques to rent with the least amount of issues and pain points to become profitable!
        a(href="#").thumb-link Watch This Video

    .thumbnail-container.label-bottom-sm
      img.video-thumb(src="http://placebear.com/284/174")
      i.icon-question
      .thumbnail-label
        h3 Rent With Ease
        p Learn the best techniques to rent with the least amount of issues and pain points to become profitable!
        a(href="#").thumb-link Watch This Video
