section.container.content-section.news-section
  .row-fluid
    .section-header
      h2 Most Popular
  .row-fluid
    .span4
      h3 Handling Reservation Requests
      p Today's traveler wants to be able to book vacation rental properties online, just as...
    .span4
      h3 Payment Methods
      p Travelers come to our sites expecting to book their vacation rental the same way...
    .span4
      h3 Cancellations and Refunds
      p We have provided three options for you to use when refunding a payment made on...
  .row-fluid
    .span4
      h3 Reviews
      p Reviews matter to travelers and will help you gain trust and credibility. As a...
    .span4
      h3 Calendar
      p Any future reservations you add or remove from the calendar on our site display on...
    .span4
      h3 What is the service fee?
      p The service fee is paid by the traveler when booking through the HomeAway websites...
