.content-section.news-section
  section.container
    .row-fluid
      .span8
        .section-header
          h2 News & Events
        .row-fluid
          .span6.news-thumbnail
            span.date November 18 2016
            h3 Pagus te quibus minim
            p Melior suscipit hendrerit eligo quio inhibeo imputo ratis exerci abigo occuro nibh tristique...
            a(href="#").thumb-link.text-warning Read Now
          .span6.news-thumbnail
            span.date November 18 2016
            h3 Pagus te quibus minum
            p Melior suscipit hendrerit eligo quio inhibeo imputo ratis exerci abigo occuro nibh tristique...
            a(href="#").thumb-link.text-warning Read Now
        .row-fluid
          .span6.news-thumbnail
            span.date November 08 2016
            h3 Nonummy eros nulla et hos
            p Aliquip qui calde regula cui euismod quidem genitus oodio ibidem dolore. Iriure tation validus eu aliquam refoveo causa humo.
            a(href="#").thumb-link.text-warning Read Now
          .span6.news-thumbnail
            span.date November 08 2016
            h3 Nonummy eros nulla et hos
            p Aliquip qui calde regula cui euismod quidem genitus oodio ibidem dolore. Iriure tation validus eu aliquam refoveo causa humo.
            a(href="#").thumb-link.text-warning Read Now

      .span4
        .section-header 
          h2 Blog
        .row-fluid
          .span4
            img.img-responsive(src='http://placebear.com/100/100')
          .span8
            h3 How great photos can improve listings
            p Ideo usitas aliquip nostrud. Molior autem dolus vel gilvus nullus.
            a(href="#").thumb-link.text-warning View post
        .row-fluid
          .span4
            img.img-responsive(src='http://placebear.com/100/100')
          .span8
            h3 How great photos can improve listings
            p Ideo usitas aliquip nostrud. Molior autem dolus vel gilvus nullus.
            a(href="#").thumb-link.text-warning View post
    .row-fluid
      .span8.text-center
        button.btn.btn-default
          h5 View more blog posts
      .span4.text-center
        button.btn.btn-default
          h5 View more news
