.help-center
  .container
    .row-fluid
      .span10.offset1.help-banner
        .row-fluid
          .span10.offset1
            .row-fluid
              .span2.text-right
                i.icon-washer.icon-white
              .span10
                h2 Help Center
                h4 Can't find what you are looking for? Try browsing our additional help center.
                button.btn.btn-warning View
