<div class="container">

	<div class="row">
		<div class="section-header">
			<h2>{{section-title}}</h2>
		</div>

		<div class="row thumbnail-row big-right clearfix">

			{% capture thumbnail-container-classes %}col-md-3{% endcapture %}
			{% capture image-src %}http://fillmurray.com/284/175{% endcapture %}
			{% capture img-type %}video{% endcapture %}
			{% capture title %}Tutorial: Rates how to{% endcapture %}
			{% capture body %}Pala tum valde qui praesent. Consectetuer a secundum ulciscor.{% endcapture %}
			{% capture link-text %}Watch This Video{% endcapture %}
			{% capture link-href %}#{% endcapture %}

			{% include thumbnails/thumbnail-standard.html %}

			{% capture thumbnail-container-classes %}col-md-3{% endcapture %}
			{% capture image-src %}http://fillmurray.com/284/176{% endcapture %}
			{% capture img-type %}{% endcapture %}
			{% capture title %}Cleaning Checklists{% endcapture %}
			{% capture body %}Wisi nisl a tego exerci pecus pagus nimis capop ea forias letalis. Caecus mara aabico paulatim hos huic.{% endcapture %}
			{% capture link-text %}Read More{% endcapture %}
			{% capture link-href %}#{% endcapture %}

			{% include thumbnails/thumbnail-standard.html %}

			{% capture thumbnail-container-classes %}col-md-6{% endcapture %}
			{% capture image-src %}http://fillmurray.com/299/320{% endcapture %}
			{% capture img-type %}{% endcapture %}
			{% unless {{label-background}} == 'bg-brand' %}
				{% capture label-background %}bg-grey{% endcapture %}
			{% endunless %}
			{% capture title %}Tutorial: Compelling Headlines{% endcapture %}
			{% capture body %}Feugait incassum a vel ludus vulpes valde diam magna. Causa valetudo ex epulae proprius lenis lenis sit et.{% endcapture %}
			{% capture link-text %}Start Tutorial{% endcapture %}
			{% capture link-href %}#{% endcapture %}

			{% include thumbnails/thumbnail-label-left.html %}

		</div>

		{% if view-more %}
			{% include thumbnails/view-more.html %}
		{% endif %}
	</div>
</div>
