<div class="row-fluid thumbnail-row">
	<div class="col-md-4 thumbnail-container video">
		<div class="thumbnail-image">
			<img src="http://placebear.com/284/174"/>
		</div>
		<div class="thumbnail-label">
			<h3>Rent with Ease</h3>
			<p>Learn the best techniques to rent with the least amount of issues and pain points to become profitable!</p>
			<a href="#">Watch This Video</a>
		</div>
	</div>
	<div class="col-md-4 thumbnail-container video">
		<div class="thumbnail-image">
			<img src="http://placebear.com/284/174"/>
		</div>
		<div class="thumbnail-label">
			<h3>Rent with Ease</h3>
			<p>Learn the best techniques to rent with the least amount of issues and pain points to become profitable!</p>
			<a href="#">Watch This Video</a>
		</div>
	</div>
	<div class="col-md-4 thumbnail-container video">
		<div class="thumbnail-image">
			<img src="http://placebear.com/284/174"/>
		</div>
		<div class="thumbnail-label">
			<h3>Rent with Ease</h3>
			<p>Learn the best techniques to rent with the least amount of issues and pain points to become profitable!</p>
			<a href="#">Watch This Video</a>
		</div>
	</div>
</div>
