
<div class="content-section">
  <section class="container">
    <div class="row">
      <div class="row news-and-blog-wrapper">

        <div class="col-xs-8 news-section">
          <div class="section-header">
            <h2>News & Events</h2>
          </div>

          <div class="row">
            <div class="col-xs-6"><span class="date">November 18 2016</span>
              <h3><strong>Pagus te quibus minim</strong></h3>
              <p>Melior suscipit hendrerit eligo quio inhibeo imputo ratis exerci abigo occuro nibh tristique...</p><a class="thumb-link text-warning" href="#">Read Now</a>
            </div>
            <div class="col-xs-6"><span class="date">November 18 2016</span>
              <h3><strong>Pagus te quibus minum</strong></h3>
              <p>Melior suscipit hendrerit eligo quio inhibeo imputo ratis exerci abigo occuro nibh tristique...</p><a class="thumb-link text-warning" href="#">Read Now</a>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6"><span class="date">November 08 2016</span>
              <h3><strong>Nonummy eros nulla et hos</strong></h3>
              <p>Aliquip qui calde regula cui euismod quidem genitus oodio ibidem dolore. Iriure tation validus eu aliquam refoveo causa humo.</p><a class="thumb-link text-warning" href="#">Read Now</a>
            </div>
            <div class="col-xs-6"><span class="date">November 08 2016</span>
              <h3><strong>Nonummy eros nulla et hos</strong></h3>
              <p>Aliquip qui calde regula cui euismod quidem genitus oodio ibidem dolore. Iriure tation validus eu aliquam refoveo causa humo.</p><a class="thumb-link text-warning" href="#">Read Now</a>
            </div> 
          </div>
        </div>

        <div class="col-xs-4 blog-section">
          <div class="section-header"> 
            <h2>Blog</h2>
          </div>

          <div class="row">
            <div class="col-xs-4"><img class="img-responsive" src="http://placebear.com/100/100"/></div>
            <div class="col-xs-8">
              <h3><strong>How great photos can improve listings</strong></h3>
              <span class="date"><strong>December 12, 2016</strong></span>
              <p>Ideo usitas aliquip nostrud. Molior autem dolus vel gilvus nullus.</p><a class="thumb-link text-warning" href="#">View post</a>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-4"><img class="img-responsive" src="http://placebear.com/100/100"/></div>
            <div class="col-xs-8">
              <h3><strong>How great photos can improve listings</strong></h3>
              <span class="date"><strong>December 08, 2016</strong></span>
              <p>Ideo usitas aliquip nostrud. Molior autem dolus vel gilvus nullus.</p><a class="thumb-link text-warning" href="#">View post</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-8 text-center">
          <button class="btn btn-default">
            <h5>View more blog posts</h5>
          </button>
        </div>
        <div class="col-xs-4 text-center">
          <button class="btn btn-default">
            <h5>View more news</h5>
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
