
<div class="help-center">
  <div class="container">
    <div class="row-fluid">
      <div class="col-xs-10 offset1 help-banner">
        <div class="row-fluid">
          <div class="col-xs-10 offset1">
            <div class="row-fluid">
              <div class="col-xs-2 text-right"><i class="icon-washer icon-white"></i></div>
              <div class="col-xs-10">
                <h2>Help Center</h2>
                <h4>Can't find what you are looking for? Try browsing our additional help center.</h4>
                <button class="btn btn-warning">View</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
