
<section class="excerpt-section most-popular-section">
  <div class="container">
    <div class="row">
      <div class="section-header">
        <h2>Most Popular</h2>
      </div>
    </div>
    <div class="row">
      <div class="row">
        {% assign image-src = false %}
        {% assign img-type = false %}

        {% capture thumbnail-container-classes %}col-md-4 popular-item{% endcapture %}

        {% capture title %}<strong>Handling Reservation Requests</strong>{% endcapture %}
        {% capture body %}Today's traveler wants to be able to book vacation rental properties online, just as...{% endcapture %}
        {% capture link-text %}Read More{% endcapture %}
        {% capture link-href %}#{% endcapture %}

        {% include thumbnails/thumbnail-standard.html %}
        {% capture title %}<strong>Payment Methods</strong>{% endcapture %}
        {% capture body %}Travelers come to our sites expecting to book their vacation rental the same way...{% endcapture %}
        {% capture link-text %}Read More{% endcapture %}
        {% capture link-href %}#{% endcapture %}

        {% include thumbnails/thumbnail-standard.html %}
        {% capture title %}<strong>Cancellations and Refunds</strong>{% endcapture %}
        {% capture body %}We have provided three options for you to use when refunding a payment made on...{% endcapture %}
        {% capture link-text %}Read More{% endcapture %}
        {% capture link-href %}#{% endcapture %}

        {% include thumbnails/thumbnail-standard.html %}
      </div>
      <div class="row">
        {% capture title %}<strong>Reviews</strong>{% endcapture %}
        {% capture body %}Reviews matter to travelers and will help you gain trust and credibility. As a...{% endcapture %}
        {% capture link-text %}Read More{% endcapture %}
        {% capture link-href %}#{% endcapture %}

        {% include thumbnails/thumbnail-standard.html %}
        {% capture title %}<strong>Calendar</strong>{% endcapture %}
        {% capture body %}Any future reservations you add or remove from the calendar on our site display on...{% endcapture %}
        {% capture link-text %}Read More{% endcapture %}
        {% capture link-href %}#{% endcapture %}

        {% include thumbnails/thumbnail-standard.html %}

        {% capture title %}<strong>What is the service fee?</strong>{% endcapture %}
        {% capture body %}The service fee is paid by the traveler when booking through the HomeAway websites...{% endcapture %}
        {% capture link-text %}Read More{% endcapture %}
        {% capture link-href %}#{% endcapture %}

        {% include thumbnails/thumbnail-standard.html %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center view-more">
        <a href="#" class="text-warning">View more {{section-title}}<span class="caret"></span></a>
      </div>
    </div>
  </div>
</section>

