
<section class="content-section most-popular-section">
  <div class="container">
    <div class="row">
      <div class="section-header">
        <h2>Most Popular</h2>
      </div>
    </div>
    <div class="row">
      <div class="row">
        <div class="col-xs-4 popular-item">
          <h3><strong>Handling Reservation Requests</strong></h3>
          <p>Today's traveler wants to be able to book vacation rental properties online, just as...</p>
          <a href="#" class="text-warning thumb-link">Read More</a>
        </div>
        <div class="col-xs-4 popular-item">
          <h3><strong>Payment Methods</strong></h3>
          <p>Travelers come to our sites expecting to book their vacation rental the same way...</p>
          <a href="#" class="text-warning thumb-link">Read More</a>
        </div>
        <div class="col-xs-4 popular-item">
          <h3><strong>Cancellations and Refunds</strong></h3>
          <p>We have provided three options for you to use when refunding a payment made on...</p>
          <a href="#" class="text-warning thumb-link">Read More</a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 popular-item">
          <h3><strong>Reviews</strong></h3>
          <p>Reviews matter to travelers and will help you gain trust and credibility. As a...</p>
          <a href="#" class="text-warning thumb-link">Read More</a>
        </div>
        <div class="col-xs-4 popular-item">
          <h3><strong>Calendar</strong></h3>
          <p>Any future reservations you add or remove from the calendar on our site display on...</p>
          <a href="#" class="text-warning thumb-link">Read More</a>
        </div>
        <div class="col-xs-4 popular-item">
          <h3><strong>What is the service fee?</strong></h3>
          <p>The service fee is paid by the traveler when booking through the HomeAway websites...</p>
          <a href="#" class="text-warning thumb-link">Read More</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center view-more">
        <a href="#" class="text-warning">View more {{section-title}}<span class="caret"></span></a>
      </div>
    </div>
  </div>
</section>
