<section class="container">
  <div class="section-header">
    <h2>Cinema-style Thumbnails</h2>
  </div>
  <div class="row-fluid thumbnail-row">
    <div class="span4 thumbnail-container video cinema-style">
      <div class="thumbnail-image">
        <img src="http://placebear.com/377/183"/>
      </div>
      <div class="thumbnail-label">
        <h3>Rent with Ease</h3>
        <span class="subtitle">Runtime: 6 mins</span>
        <p>Pala tum valde qui praesent. Conestetuer a secumdum ulciscor ut laoreet lucidus epulae facilisis laoreet.</p>
        <a href="#">Watch This Video</a>
      </div>
    </div>

    <div class="span4 thumbnail-container cinema-style">
      <div class="thumbnail-image">
        <img src="http://placebear.com/377/183"/>
      </div>
      <div class="thumbnail-label">
        <h3>Rent with Ease</h3>
        <span class="subtitle">Runtime: 6 mins</span>
        <p>Pala tum valde qui praesent. Conestetuer a secumdum ulciscor ut laoreet lucidus epulae facilisis laoreet.</p>
        <a href="#">Watch This Video</a>
      </div>
    </div>

    <div class="span4 thumbnail-container cinema-style">
      <div class="thumbnail-image">
        <img src="http://placebear.com/377/183"/>
      </div>
      <div class="thumbnail-label">
        <h3>Rent with Ease</h3>
        <span class="subtitle">Runtime: 6 mins</span>
        <p>Pala tum valde qui praesent. Conestetuer a secumdum ulciscor ut laoreet lucidus epulae facilisis laoreet.</p>
        <a href="#">Watch This Video</a>
      </div>
    </div>
  </div>
</section>
